OPENROUTER_API_KEY=your_openrouter_api_key_here
NEXT_PUBLIC_SUPABASE_URL=https://bgidctlahzervuvdvlbm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJnaWRjdGxhaHplcnZ1dmR2bGJtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg2NjgxMjQsImV4cCI6MjA5NDI0NDEyNH0.xSPWZIv4eHBH1OFhv120H4nzLRNbVQztd-sDybH2Fp8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJnaWRjdGxhaHplcnZ1dmR2bGJtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODY2ODEyNCwiZXhwIjoyMDk0MjQ0MTI0fQ.bY__523JuJGLWFJaB8vLRK_SQoZiGCj_f4Z6Y6hmh5s
OPENROUTER_MODEL=openai/gpt-oss-120b:free

AIRLABS_API_KEY=your_airlabs_api_key_here
